extends layout

block content
  h1 Welcome to GRs restaurant-
  p What do you want to eat:
  #wrapper
    #trainList
      h2 Menus
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Bon apetit!
